@model FilterDateViewModel
@{
    ViewData["Title"] = "All Transactions";
}


<h3>Transactions</h3>
<div class="container">
    <div class="row">
        <form asp-action="FilterTransaction">
            <input type="hidden" asp-for="AccountNumber" value="@Model.AccountNumber" />

            Filter From: <input asp-for="Start" class="form-control" />

                To: <input asp-for="End" class="form-control" />
           

            <button class="w-30 btn btn-primary" type="submit" value="Filter">Filter</button>
        </form>
    </div>
</div>


<table class="table">
    <thead>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Transactions[0].TransactionID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transactions[0].TransactionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transactions[0].AccountNumber)
            </th>
            <th>
                DestinationAccount
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transactions[0].Amount)
            </th>
            <th>
                Transaction Time
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transactions[0].Comment)
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Transactions)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DestinationAccountNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionTimeUtc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
            </tr>


        }
    </tbody>
</table>


<a class="btn w-30 btn btn-lg btn-primary text-white" asp-controller="Account" asp-action="Index">Exit</a>


